.product {
    &-inner{
        .flex();
        // border-bottom: 1px solid @ft-color;
        nav {
            font-size: 18px;
            font-weight: 700;
            .navbar {

                li {
                    width: 143px;
                    text-align: center;
                    display: inline-block;
                    margin-left: 12px;
                    margin-right: 12px;
                    position: relative;
                    padding-bottom: 25px;

                
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    a {
                        position: relative;
                        top: 10px;
                        color: @bag-color;
                        text-transform: uppercase;
                        padding-top: 40px;
                        &:hover {
                            color: @pd-color;
                        }
                    }
                    
                    &:hover:before {
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        height: 1px;
                        background:  @pd-color;
                        content: '';
                        width: 98%;
                        transition: all 200ms linear 0s;
                    }
                }
            }
        }
    }
}
.main__product {
    margin-top: 40px;
    &-item {
        position: relative;
        .col (25%);
        padding: 0 0 35px 0;
        &:nth-last-child(4) {
            padding-top: 40px;
        }
        &:nth-last-child(3) {
            padding-top: 40px;
        }
        &:nth-last-child(2) {
            padding-top: 40px;
        }
        &:nth-last-child(1) {
            padding-top: 40px;
        }
        &:nth-last-child(5) {
            padding-top: 40px;
        }
    }
    .main__product-item:hover{
        transition-duration:0.5s;
        border: 1px solid @ft-color;
            .main__product-function {
                display: block;
            }
    }
    &-image {
        // img {
        //     object-fit: contain;
        //     object-position: 50% 50%;
        // }

    }
    &-function {
        position: absolute;
        display: none;
        top: 17px;
        right: 15px;
    }
    &__icon {
        position: absolute;
        top: 17px;
        right: 15px;
        border: 1px solid #dddddd;
        border-radius: 5px;
        background-color: rgba(221,47,49,0);
        color: @ft-color;
        margin-top: 12px;
        padding: 5px 7px;
        &:first-child {
            margin-top: 0px;
        }
        &:hover {
            background-color: @pd-color;
            color: @nav-color;
        }
    }
    .icon__eye {
        margin-top: 48px;
        
    }
    .icon__heart {
        width: 18px;
        margin-top: 96px;
        
    }
    .icon__exchange {
        width: 18px;
        margin-top: 144px;
        
    }

    &-title {
        p {
            font-weight: 400;
            font-size: 14px;
            margin: 21px 0 0 16px;
        }
        span {
            font-weight: 700;
            font-size: 14px;
            margin: 16px;
        }
    }
}

